extends layout.pug
block content
  h1= model.title
  p.lead!= model.body
  hr
  each tag in model.tags.split(',')
    span.badge.badge-info.mr-2= tag 
  hr
  each img in images
    img(src=img, class="img-thumbnail rounded mr-1", style="width:350px; height:350px;")